<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.picked">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Picked">
        <activity
            android:name=".PlantPartsActivity"
            android:exported="true" />
        <activity
            android:name=".SeasonActivity"
            android:exported="true" />
        <activity
            android:name=".AreasActivity"
            android:exported="true" />
        <activity
            android:name=".RegionsActivity"
            android:exported="true" />
        <activity android:name=".MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogActivity" />
    </application>

</manifest>